<!-- Content -->
<div class="container-fluid SignIn" ng-controller="signupController">
    <i class="bi bi-check2-circle stamp"></i>
    <div class="row">
        <div class="wow fadeInUp col-lg-7 col-md-10 box mx-auto">
            <h1 class="text-center font-weight-bolder">Sign Up</h1>

            <div class="box-body">
                <form name="signup" ng-submit="handelSubmit($event)" novalidate>
                    <div class="form-group">
                        <label for="fullname">Fullname</label>
                        <i class="bi bi-person form-icon"></i>
                        <input
                            ng-model="fullname"
                            name="fullname"
                            type="text"
                            class="form-control shadow-none"
                            id="fullname"
                            placeholder="Enter your fullname."
                            ng-required="true"
                        />
                        <small ng-show="signup.fullname.$error.pattern" class="form-text text-muted">Username is invalid</small>
                        <small ng-show="signup.fullname.$error.required && signup.fullname.$touched" class="form-text text-muted"
                            >Please enter your username.</small
                        >
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <i class="bi bi-person form-icon"></i>
                        <i ng-show="isUsed == -1" ng-init="-99" class="bi bi-x-circle right-icon text-danger"></i>
                        <i ng-show="isUsed == 0" class="bi bi-gear right-icon text-warning loading-animated"></i>
                        <i ng-show="isUsed == 1" class="bi bi-check2-circle right-icon text-success"></i>
                        <input
                            ng-model="username"
                            ng-pattern="/^[a-zA-Z0-9_]{6,30}$/"
                            name="username"
                            type="text"
                            class="form-control shadow-none"
                            id="username"
                            placeholder="Enter your username"
                            ng-required="true"
                            ng-blur="checkUsername()"
                        />
                        <small ng-show="signup.username.$error.pattern" class="form-text text-muted">Username is invalid</small>
                        <small ng-show="isUsed == -1" class="form-text text-muted">Username has been used</small>
                        <small ng-show="signup.username.$error.required && signup.username.$touched" class="form-text text-muted"
                            >Please enter your username.</small
                        >
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <i class="bi bi-envelope-at form-icon"></i>
                        <input
                            ng-model="email"
                            ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"
                            name="email"
                            type="text"
                            class="form-control shadow-none"
                            id="email"
                            placeholder="Enter your email."
                            ng-required="true"
                        />
                        <small ng-show="signup.email.$error.pattern" class="form-text text-muted">Email is invalid.</small>
                        <small ng-show="signup.email.$error.required && signup.email.$touched" class="form-text text-muted"
                            >Please enter your email.</small
                        >
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <i class="bi bi-key form-icon"></i>
                        <i ng-hide="showPass" class="bi bi-eye right-icon" ng-click="handelShowPass()"></i>
                        <i ng-show="showPass" class="bi bi-eye-slash right-icon" ng-click="handelShowPass()"></i>
                        <input
                            ng-model="password"
                            name="password"
                            ng-pattern="/^.{6,}$/"
                            type="{{showPass ? 'text' : 'password'}}"
                            class="form-control shadow-none"
                            id="password"
                            placeholder="Enter your password."
                            ng-required="true"
                        />
                        <small ng-show="signup.password.$error.required && signup.password.touched" class="form-text text-muted"
                            >Please enter your password</small
                        >
                        <small ng-show="signup.password.$error.pattern" class="form-text text-muted">Password too short!</small>
                    </div>

                    <div class="form-group mb-5">
                        <label for="confirm-password">Repeat password</label>
                        <i class="bi bi-key form-icon"></i>
                        <i ng-hide="showRepeatPass" class="bi bi-eye right-icon" ng-click="handelShowRepeatPass()"></i>
                        <i ng-show="showRepeatPass" class="bi bi-eye-slash right-icon" ng-click="handelShowRepeatPass()"></i>
                        <input
                            ng-model="confirmPassword"
                            ng-pattern="password"
                            name="confirmPassword"
                            type="{{showRepeatPass ? 'text' : 'password'}}"
                            class="form-control shadow-none"
                            id="confirm-password"
                            placeholder="Enter your password."
                            ng-required="true"
                        />
                        <small
                            ng-show="signup.confirmPassword.$touched && signup.confirmPassword.$error.pattern"
                            class="form-text text-muted"
                            >Repeat password is incorrect</small
                        >
                    </div>

                    <input
                        type="submit"
                        value="Sign Up"
                        ng-disabled="signup.$invalid && isUsed == 1"
                        class="btn bg-linear-gradient w-100 mb-3 hover"
                    />
                    <p class="text-center w-100 mb-3">Or Sign Up Using</p>
                    <div class="d-flex justify-content-center mb-5">
                        <a href="##" class="login-icon hover">
                            <img src="../static/image/google-icon.png" width="30px" alt="" />
                        </a>
                        <a href="##" class="login-icon hover">
                            <img src="../static/image/facebook-icon.png" width="30px" alt="" />
                        </a>
                        <a href="##" class="login-icon hover">
                            <img src="../static/image/github-icon.png" width="30px" alt="" />
                        </a>
                    </div>

                    <div class="text-center">
                        <p class="mb-2">Do you already have an account ?</p>
                        <a href="./login.html" class="btn bg-linear-gradient hover">
                            <p class="mb-0 px-4">Login here</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
