.bl-1 {
    background-color: #00ffff;
}

.bl-2 {
    background-color: #cdff9d;
}

.bl-3 {
    background-color: #e100ff;
}

.bl-4 {
    background-color: #ff00c8;
}

.bl-5 {
    background-color: #99ff00;
}

.bl-6 {
    background-color: #0000ff;
}