.modal-content {
    border-radius: 20px;
    border: none;
    .modal-header {
        color: #000000bb;
        background-color: #61D6DD33;
        padding-bottom: .5rem !important;
    }

    .modal-body {
        
    }

    .modal-footer {
        background: #61D6DD33;
    }
}