<!-- Navigation -->

<main class="UserInfo container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 px-2 mb-3">
                <div class="wow fadeInLeft box">
                    <div class="avatar mb-3 mx-auto">
                        <i class="bi bi-images"></i>
                        <img class="avt-img" src="{{$parent.userLogin.avatar}}" alt="" />
                    </div>
                    <h3 class="text-center font-weight-bold mb-5">{{$parent.userLogin.fullname}}</h3>

                    <div class="info">
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-person"></i>
                                <span>Username</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.username}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-person-vcard"></i>
                                <span>ID</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.code}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-columns-gap"></i>
                                <span>Class</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.class}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-calendar-heart"></i>
                                <span>DOB</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.dob}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-gender-ambiguous"></i>
                                <span>Gender</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.gender | titleCase}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-building"></i>
                                <span>School</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.school}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 px-2">
                <div class="wow fadeInRight box mb-3">
                    <h3 class="font-weight-bold mb-4">Login Information</h3>

                    <div class="info">
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-person"></i>
                                <span>Fullname</span>
                            </div>
                            <span class="info-item-content flex-grow-1">
                                <i class="bi bi-pencil-square"></i>
                                <input type="text" value="{{$parent.userLogin.fullname}}" readonly />
                            </span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-envelope-at"></i>
                                <span>Email</span>
                            </div>
                            <span class="info-item-content flex-grow-1">
                                <i class="bi bi-pencil-square"></i>
                                <input type="text" value="{{$parent.userLogin.email | lowercase}}" readonly />
                            </span>
                        </div>
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-phone"></i>
                                <span>Phone number</span>
                            </div>
                            <span class="info-item-content flex-grow-1">
                                <i class="bi bi-pencil-square"></i>
                                <input type="text" value="{{$parent.userLogin.phone}}" readonly />
                            </span>
                        </div>
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-key"></i>
                                <span>Password</span>
                            </div>
                            <span class="info-item-content flex-grow-1">
                                <i class="bi bi-pencil-square" data-target="#change-pass" data-toggle="modal"></i>
                                <input type="password" value="passwordpassword" readonly />
                            </span>
                        </div>
                    </div>
                </div>
                <div data-wow-delay="0.3s" class="wow fadeInRight box">
                    <h3 class="font-weight-bold">Overview</h3>

                    <div class="overview-container">
                        <div class="item mx-2 mb-3">
                            <div class="item-title">
                                <i class="bi bi-book"></i>
                                Quiz completed
                            </div>
                            <div class="item-process">10</div>
                        </div>
                        <div class="item mx-2 mb-3">
                            <div class="item-title">
                                <i class="bi bi-alarm"></i>
                                Operation time
                            </div>
                            <div class="item-process">1h 20m</div>
                        </div>
                        <div class="item mx-2 mb-3">
                            <div class="item-title">
                                <i class="bi bi-lightning"></i>
                                Average score
                            </div>
                            <div class="item-process">8.79</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade UserInfo" id="change-pass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-1">
                <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="old-password">Old Password</label>
                        <i class="bi bi-key form-icon"></i>
                        <i class="bi bi-eye right-icon"></i>
                        <input
                            type="password"
                            class="form-control shadow-none"
                            id="old-password"
                            placeholder="Enter your old password."
                        />
                        <small class="form-text text-muted d-none">Please enter your old password.</small>
                    </div>

                    <div class="form-group">
                        <label for="password">New Password</label>
                        <i class="bi bi-key form-icon"></i>
                        <i class="bi bi-eye right-icon"></i>
                        <input
                            type="password"
                            class="form-control shadow-none"
                            id="password"
                            placeholder="Enter your new password."
                        />
                        <small class="form-text text-muted d-none">Please enter your password</small>
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Repeat password</label>
                        <i class="bi bi-key form-icon"></i>
                        <i class="bi bi-eye right-icon"></i>
                        <input
                            type="password"
                            class="form-control shadow-none"
                            id="confirm-password"
                            placeholder="Enter your password."
                        />
                        <small class="form-text text-muted d-none">Please enter your password again.</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn rounded px-4 btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn rounded px-4 btn-success">Change</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
