@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kolker+Brush&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --light-primary: white;
    --violet: #5842b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kolker Brush', cursive;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #ffdffb;
}

a {
    color: currentColor;
}

a:hover {
    color: currentColor;
    text-decoration: unset;
}

/* Linear Gradient Default */
.bg-linear-gradient {
    background: linear-gradient(90deg, #5F85FC, #C46DFD);
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #c1d0ff;
}

::-webkit-scrollbar-thumb {
    background: #5F85FC;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3d5fc5;
}

/* Customize Button */
.btn-customize {
    color: var(--light-primary) !important;
    background-color: #5842b1;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s;
}

.btn-customize:focus {
    box-shadow: none;
}


.btn-customize:active {
    background-color: #5842b188;
}

/* Customize Dropdown Menu */
.dropdown-menu {
    outline: none;
    border: none;
    background-color: #efebff;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .15) !important;
    animation-duration: 1s;
}

/* Animation */
.animation {
    animation-duration: 1s;
}


.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}