.Menu {
    transition: 0.2s;

    .box {
        // width: calc(100% + 32px);
        border-radius: 15px;

        .question-container {

            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-wrap: wrap;

            .item {
                $size: 42px;
                display: block;
                width: $size !important;
                height: $size !important;
                background: #cab9e9;
                border-radius: calc($size / 2) !important;
                text-align: center;
                line-height: $size;
                cursor: pointer;
                transition: all 0.2s;
                color: white;

                &.done {
                    background-color: #0AA1DD;
                }

                &.correct {
                    background-color: #39AEA9;
                }

                &.note {
                    background-color: #F2CD5C;
                }

                &.incorrect {
                    background-color: #F34573;
                }

                &.doing {
                    border: 0.1rem solid #5842b1bb ;
                    box-shadow: 0 0 .5rem .1rem #5842b1 !important;
                }

                &:hover {
                    box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.3);
                    transform: translateY(-2px) scale(1.01);
                }

                &:active {
                    transform: translateY(1px) scale(1.01);
                }

              

            }
        }


        button[type="submit"] {
            font-size: 20px;
            font-weight: 500;
            border-radius: 25px;
        }
    }
}

.Display {
    background-color: whitesmoke;
    border-radius: 15px;


    .btn {
        font-size: 20px;
    }

    .questions-container {
        width: 100%;

        .question-img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }


    .answer-container {
        counter-reset: item;

        input {
            display: none;
        }

    }

    .answer-item {
        padding: 15px 20px;
        background-color: #BFACE2;
        border-radius: 20px;

        * {
            cursor: pointer;
        }

        &.checked {
            background-color: #F2CD5C;
        }

        &.incorrect {
            background-color: #F34573;
        }

        &.correct {
            background-color: #39AEA9;
        }

        .choose-tag {

            margin-right: 1rem;

            &:after {
                content: counter(item, upper-alpha) ". ";
                counter-increment: item;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}