<!-- Navigation -->

<main class="UserInfo container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 px-2 mb-3">
                <div class="wow fadeInLeft box">
                    <div class="avatar mb-3 mx-auto">
                        <i class="bi bi-images"></i>
                        <img
                            check-image=""
                            class="avt-img"
                            src="{{$parent.userLogin.avatar}}"
                            alt=""
                        />
                    </div>
                    <h3 class="text-center font-weight-bold mb-5">
                        {{$parent.userLogin.fullname}}
                    </h3>

                    <div class="info">
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-person"></i>
                                <span>Username</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.username}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-person-vcard"></i>
                                <span>ID</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.code}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-columns-gap"></i>
                                <span>Class</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.class}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-calendar-heart"></i>
                                <span>DOB</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.dob}}</span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-gender-ambiguous"></i>
                                <span>Gender</span>
                            </div>
                            <span class="info-item-content"
                                >{{$parent.userLogin.gender | titleCase}}</span
                            >
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-building"></i>
                                <span>School</span>
                            </div>
                            <span class="info-item-content">{{$parent.userLogin.school}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 px-2">
                <div class="wow fadeInRight box mb-3">
                    <h3 class="font-weight-bold mb-4">Login Information</h3>

                    <div class="info">
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-person"></i>
                                <span>Fullname</span>
                            </div>
                            <span
                                modal-id-target="change-info"
                                class="info-item-content flex-grow-1"
                            >
                                <i class="bi bi-pencil-square"></i>
                                <input
                                    type="text"
                                    value="{{$parent.userLogin.fullname}}"
                                    readonly
                                />
                            </span>
                        </div>

                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-envelope-at"></i>
                                <span>Email</span>
                            </div>
                            <span
                                modal-id-target="change-info"
                                class="info-item-content flex-grow-1"
                            >
                                <i class="bi bi-pencil-square"></i>
                                <input
                                    type="text"
                                    value="{{$parent.userLogin.email | lowercase}}"
                                    readonly
                                />
                            </span>
                        </div>
                        <div class="info-item px-1">
                            <div class="info-item-title">
                                <i class="bi bi-phone"></i>
                                <span>Phone number</span>
                            </div>
                            <span
                                modal-id-target="change-info"
                                class="info-item-content flex-grow-1"
                            >
                                <i class="bi bi-pencil-square"></i>
                                <input type="text" value="{{$parent.userLogin.phone}}" readonly />
                            </span>
                        </div>

                        <form name="changePassword">
                            <div class="info-item px-1">
                                <div class="info-item-title">
                                    <i class="bi bi-key"></i>
                                    <span>Password</span>
                                </div>
                                <span class="info-item-content flex-grow-1">
                                    <i
                                        ng-click="handler.toggleOldPass()"
                                        ng-show="!showOldPass && isChanging"
                                        class="bi bi-eye-slash"
                                    ></i>
                                    <i
                                        ng-click="handler.toggleOldPass()"
                                        ng-show="showOldPass && isChanging"
                                        class="bi bi-eye"
                                    ></i>
                                    <i
                                        ng-hide="isChanging"
                                        class="bi bi-pencil-square"
                                        ng-click="isChanging = true"
                                    ></i>
                                    <input
                                        ng-model="oldPass"
                                        type="{{showOldPass ? 'text' : 'password'}}"
                                        placeholder="########"
                                        ng-readonly="!isChanging"
                                        ng-required="true"
                                    />
                                </span>
                            </div>

                            <div ng-show="isChanging">
                                <div class="info-item px-1">
                                    <span class="info-item-content flex-grow-1">
                                        <i
                                            ng-click="handler.toggleNewPass()"
                                            ng-hide="showNewPass"
                                            class="bi bi-eye-slash"
                                        ></i>
                                        <i
                                            ng-click="handler.toggleNewPass()"
                                            ng-show="showNewPass"
                                            class="bi bi-eye"
                                        ></i>
                                        <input
                                            ng-model="newPass"
                                            type="{{showNewPass ? 'text' : 'password'}}"
                                            placeholder="Enter new password"
                                            ng-required="true"
                                        />
                                    </span>
                                </div>
                                <div class="info-item px-1">
                                    <span class="info-item-content flex-grow-1">
                                        <i
                                            ng-click="handler.toggleConfirmPass()"
                                            ng-hide="showConfirmPass"
                                            class="bi bi-eye-slash"
                                        ></i>
                                        <i
                                            ng-click="handler.toggleConfirmPass()"
                                            ng-show="showConfirmPass"
                                            class="bi bi-eye"
                                        ></i>
                                        <input
                                            ng-model="confirmPass"
                                            ng-pattern="newPass"
                                            type="{{showConfirmPass ? 'text' : 'password'}}"
                                            placeholder="Enter new password again"
                                            ng-required="true"
                                        />
                                    </span>
                                </div>
                                <div class="info-item px-1">
                                    <span class="info-item-content flex-grow-1">
                                        <button
                                            class="btn btn-success ml-3 rounded px-3"
                                            ng-click="handelChangePass()"
                                            ng-disabled="changePassword.$invalid"
                                        >
                                            Change
                                        </button>
                                        <button
                                            class="btn btn-danger rounded px-3"
                                            ng-click="handler.reset()"
                                        >
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div data-wow-delay="0.3s" class="wow fadeInRight box">
                    <h3 class="font-weight-bold">Overview</h3>

                    <div class="overview-container">
                        <div class="item mx-2 mb-3">
                            <div class="item-title">
                                <i class="bi bi-book"></i>
                                Quiz completed
                            </div>
                            <div class="item-process">10</div>
                        </div>
                        <div class="item mx-2 mb-3">
                            <div class="item-title">
                                <i class="bi bi-alarm"></i>
                                Operation time
                            </div>
                            <div class="item-process">1h 20m</div>
                        </div>
                        <div class="item mx-2 mb-3">
                            <div class="item-title">
                                <i class="bi bi-lightning"></i>
                                Average score
                            </div>
                            <div class="item-process">8.79</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<app-modal
    title="Change your information"
    id-modal="change-info"
    target="change-info"
    buttons="modalButtons"
></app-modal>

<div modal-body-target="change-info">
    <form>
        <div class="form-group">
            <label for="fullname">Fullname</label>
            <i class="bi bi-person-vcard form-icon"></i>
            <input
                type="text"
                ng-model-options="{updateOn: 'blur'}"
                ng-model="newInfo.fullname"
                class="form-control shadow-none"
                id="fullname"
                placeholder="{{$parent.userLogin.fullname}}"
            />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <i class="bi bi-envelope form-icon"></i>
            <input
                type="text"
                ng-model-options="{updateOn: 'blur'}"
                ng-model="newInfo.email"
                class="form-control shadow-none"
                id="email"
                placeholder="{{$parent.userLogin.email}}"
            />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <i class="bi bi-phone form-icon"></i>
            <input
                type="text"
                ng-model-options="{updateOn: 'blur'}"
                ng-model="newInfo.phone"
                class="form-control shadow-none"
                id="phone"
                placeholder="{{$parent.userLogin.phone || '0123456789'}}"
            />
        </div>
        <div class="form-group">
            <label for="className">Class</label>
            <i class="bi bi-columns-gap form-icon"></i>
            <input
                type="text"
                ng-model-options="{updateOn: 'blur'}"
                ng-model="newInfo.className"
                class="form-control shadow-none"
                id="className"
                placeholder="{{$parent.userLogin.class || 'AB00000'}}"
            />
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <i class="bi bi-gender-ambiguous form-icon"></i>
            <select
                class="form-control shadow-none"
                name="gender"
                id="gender"
                ng-model="newInfo.gender"
            >
                <option selected value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dob">Date of birth</label>
            <i class="bi bi-calendar-heart form-icon"></i>
            <input
                ng-model-options="{updateOn: 'blur'}"
                ng-model="newInfo.dob"
                type="date"
                class="form-control shadow-none"
                id="dob"
                placeholder="{{$parent.userLogin.dob || '0123456789'}}"
            />
        </div>
        <div class="form-group">
            <label for="school">School</label>
            <i class="bi bi-building form-icon"></i>
            <input
                type="text"
                ng-model-options="{updateOn: 'blur'}"
                ng-model="newInfo.school"
                class="form-control shadow-none"
                id="school"
                placeholder="{{$parent.userLogin.school || 'Your school'}}"
            />
        </div>
    </form>
</div>
<!-- Modal -->
