.Footer {

    h4 {
        margin-left: 5px;
        font-weight: 800;
    }

    .description {
        max-width: 85%;
    }

    .contract-method .bi {
        border-radius: 20px;
        font-size: 30px;
        cursor: pointer;
        transition: all 0.3s;
    }


    .contract-method .bi:hover {
        color: var(--violet);
        transform: translateY(-3px);
    }

    .contract-method .bi+.bi {
        margin-left: 1rem;
    }

    .link {
        transition: all 0.3s;

        &:hover {
            transform: translateX(3px);
        }

        &:active {
           color: #ffffff88;
        }
    }

}